- title t '.title', :default => t('helpers.titles.edit', :model => Period.model_name.human,
                                 :default => "Edit #{Period.model_name.human}")

= render 'form'

%p= link_to t('helpers.links.index'), periods_path
