
.horaries-table {
  width: 100%;
  border: 1px solid;
  border-collapse: collapse;
  td {
    border-top: solid 1px black;
    text-align: center;
  }
  td.day {
    font-weight: bold;
  }
}

th.tiny {
  width: 25px;
}

.months {
  width: 100%;
  position: relative;
  height: 2em;
  div {
    position: absolute;
    width: 200px;
  }
}

.left {
  left: 0px;
}

.mid {
  text-align: center;
  left: 50%;
  margin-left: -100px;
}

.right {
  text-align: right;
  right: 0px;
}
